[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
google-adk = "*"
litellm = "*"
langchain-tavily = "*"
crewai-tools = "*"
pygithub = "*"
langchain-community = "*"
toolbox-core = "*"
mcp = "*"
bs4 = "*"
lxml = "*"
html5lib = "*"
pydantic = "*"
fastapi = {extras = ["standard"], version = "*"}
google-api-python-client = "*"
google-auth-httplib2 = "*"
google-auth-oauthlib = "*"
colorama = "*"
fpdf = "*"

[dev-packages]

[requires]
python_version = "3.10"
